/* Estilos Generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    background-image: url('../../imagenes/fondo345.jpg');
    overflow-x: hidden;
}

/* Animación de la cascada */
@keyframes caida-cascada {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

main, .sobre-nosotros, .pie-pagina, .contacto-boton, .opiniones, .opinion, #formulario-valoracion, #boton-valoracion {
    animation: caida-cascada 1s ease-out forwards;
}

main {
    padding: 40px 20px;
    animation-delay: 0.1s;
}

.sobre-nosotros {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    animation-delay: 0.4s;
}

.sobre-nosotros h1 {
    font-size: 36px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.informacion {
    font-size: 18px;
    color: #666;
    line-height: 1.6;
    text-align: justify;
    padding: 20px;
}

.informacion p {
    margin-bottom: 20px;
}

/* Barra de navegación principal */
.barra-navegacion {
    background: transparent;
    padding: 20px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 100;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.barra-navegacion .logo {
    margin-right: 40px;
}

.barra-navegacion .logo img {
    height: 50px;
    width: auto;
    transition: transform 0.3s ease, filter 0.3s ease;
}

/* Menú principal */
.menu-principal {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu-principal li {
    margin: 0 20px;
    position: relative;
}

.menu-principal a {
    color: #000000;
    text-decoration: none;
    font-size: 16px;
    padding: 12px 16px;
    display: block;
    font-weight: 600;
    border-radius: 5px;
    transition: all 0.3s ease;
    position: relative;
}

.menu-principal a:hover {
    background-color: #e2e2e2;
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

/* Submenú */
.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #e2e2e2;
    min-width: 200px;
    border-radius: 5px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.menu-principal li:hover > .submenu {
    display: block;
    opacity: 1;
}

.submenu li {
    position: relative;
}

.submenu a {
    color: #000000;
    padding: 12px 20px;
    text-decoration: none;
    display: block;
    font-size: 14px;
    font-weight: 500;
    border-bottom: 1px solid #444;
    transition: background-color 0.3s ease;
}

.submenu a:hover {
    background-color: #747677;
    padding-left: 20px;
}

.submenu .submenu {
    top: 0;
    left: 100%;
    border-radius: 0 5px 5px 0;
}

.menu-desplegable > a {
    position: relative;
}

.menu-desplegable > a:after {
    font-size: 14px;
    margin-left: 5px;
    transition: transform 0.3s ease;
}

.menu-desplegable:hover > a:after {
    transform: rotate(90deg);
}

#titulo{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/* Estilo para estrellas de valoración */


/* Sección de mapa en pie de página */
.mapa-footer {
    flex: 1;
    margin: 0 20px;
    text-align: left;
}

.mapa-footer ul {
    list-style: none;
    padding: 0;
}

.mapa-footer ul li {
    margin: 10px 0;
}

.mapa-footer ul li a {
    color: #b0b0b0;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

.mapa-footer ul li a:hover {
    color: #4a90e2;
}

/* Estilos de footer */
.pie-pagina {
    background-color: #212121;
    color: #fff;
    padding: 50px 10%;
    text-align: center;
    font-family: 'Arial', sans-serif;
    border-top: 1px solid #444;
}

.contenido-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.informacion-footer {
    flex: 1;
    margin: 0 20px;
    text-align: left;
    padding-right: 30px;
}

.informacion-footer h2 {
    font-size: 1.8rem;
    margin-bottom: 15px;
    color: #b8b8b8;
    font-family: cursive;
}

.informacion-footer p {
    font-size: 1rem;
    color: #b0b0b0;
}

.redes-sociales {
    flex: 1;
    margin: 0 20px;
    text-align: center;
}

.redes-sociales a {
    margin: 0 20px;
    display: inline-block;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.redes-sociales img {
    width: 60px;
    height: 60px;
    transition: transform 0.3s ease, filter 0.3s ease;
    filter: brightness(0) invert(1);
}

.redes-sociales a:hover img {
    transform: scale(1.2);
    filter: brightness(1.2) invert(1);
}

.copyright {
    margin-top: 40px;
    font-size: 0.9rem;
    color: #b0b0b0;
    text-align: center;
    border-top: 1px solid #444;
    padding-top: 20px;
}

/* Responsividad para pantallas más pequeñas */
@media (max-width: 768px) {
    .contenido-footer {
        flex-direction: column;
        align-items: center;
    }

    .informacion-footer, .redes-sociales, .mapa-footer {
        text-align: center;
        margin-bottom: 20px;
    }

    .pie-pagina {
        padding: 30px 5%;
    }

    .contacto-container {
        flex-direction: column;
    }

    .contacto-box {
        margin-bottom: 20px;
    }

    .menu-principal {
        flex-direction: column;
        align-items: center;
    }

    .menu-principal li {
        margin: 10px 0;
    }
}


.sobre-nosotros {
    padding: 40px;
    background-color: #f9f9f9;
    color: #333;
    font-family: 'Arial', sans-serif;
}

.sobre-nosotros h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.sobre-nosotros hr {
    border: 1px solid #ccc;
    margin: 20px 0;
}

.sobre-nosotros iframe {
    width: 100%; /* Hace que el mapa ocupe el 100% del ancho de la sección */
    height: 450px;
    border: 0;
    max-width: 100%;
    border-radius: 8px;
}

.contacto-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    margin-top: 30px;
}

.contacto-box {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contacto-box h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
}

.contacto-box p {
    font-size: 1rem;
    line-height: 1.6;
    color: #555;
}

.contacto-box a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.contacto-box a:hover {
    color: #0056b3;
}

@media (max-width: 768px) {
    .sobre-nosotros iframe {
        height: 350px; /* Ajusta la altura del mapa en pantallas pequeñas */
    }

    .contacto-container {
        flex-direction: column;
    }

    .contacto-box {
        margin-bottom: 20px;
    }
}
