/* Estilos Generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

/* Animacion de la cascada */
@keyframes caida-cascada {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

main,  .sobre-nosotros, .pie-pagina, .contacto-boton, .opiniones, .opinion, #formulario-valoracion, #boton-valoracion {
    animation: caida-cascada 1s ease-out forwards;
}

main {
    padding: 40px 20px;
    animation-delay: 0.1s;
}

/* Barra de navegación principal */
.barra-navegacion {
    background: transparent;
    padding: 20px 40px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    position: relative;
    top: 0;
    width: 100%;
    z-index: 100;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Logo */
.barra-navegacion .logo {
    margin-right: 40px; 
}

.barra-navegacion .logo img {
    height: 50px;
    width: auto;
    transition: transform 0.3s ease, filter 0.3s ease;
}

/* Menú principal */
.menu-principal {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu-principal li {
    margin: 0 20px;
    position: relative;
}

.menu-principal a {
    color: #000000;
    text-decoration: none;
    font-size: 16px;
    padding: 12px 16px;
    display: block;
    font-weight: 600;
    border-radius: 5px;
    transition: all 0.3s ease;
    position: relative;
}

/* Efecto hover en enlaces del menú */
.menu-principal a:hover {
    background-color: #939494;
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

/* Submenú */
.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    min-width: 200px;
    border-radius: 5px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.menu-principal li:hover > .submenu {
    display: block;
    opacity: 1;
}

.submenu li {
    position: relative;
}

.submenu a {
    color: #fff;
    padding: 12px 20px;
    text-decoration: none;
    display: block;
    font-size: 14px;
    font-weight: 500;
    border-bottom: 1px solid #444;
    transition: background-color 0.3s ease;
}

.submenu a:hover {
    background-color: #747677;
    padding-left: 20px;
}

.submenu .submenu {
    top: 0;
    left: 100%;
    border-radius: 0 5px 5px 0;
}

.menu-desplegable > a {
    position: relative;
}

.menu-desplegable > a:after {
    font-size: 14px;
    margin-left: 5px;
    transition: transform 0.3s ease;
}

.menu-desplegable:hover > a:after {
    transform: rotate(90deg);
}

/* Sección "Sobre Nosotros" */
.sobre-nosotros {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    animation-delay: 0.4s;
}

.sobre-nosotros h1 {
    font-size: 36px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.informacion {
    font-size: 18px;
    color: #666;
    line-height: 1.6;
    text-align: justify;
    padding: 20px;
}

.informacion p {
    margin-bottom: 20px;
}


.pie-pagina {
    background-color: #212121;
    color: #fff;
    padding: 50px 10%;
    text-align: center;
    font-family: 'Arial', sans-serif;
    border-top: 1px solid #444;
}

.contenido-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.informacion-footer {
    flex: 1;
    margin: 0 20px;
    text-align: left;
    padding-right: 30px;
}

.informacion-footer h2 {
    font-size: 1.8rem;
    margin-bottom: 15px;
    color: #b8b8b8; 
    font-family:cursive ;
}

.informacion-footer p {
    font-size: 1rem;
    color: #b0b0b0; 
}

.redes-sociales {
    flex: 1;
    margin: 0 20px;
    text-align: center;
}

.redes-sociales a {
    margin: 0 20px;
    display: inline-block;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.redes-sociales img {
    width: 60px; 
    height: 60px;
    transition: transform 0.3s ease, filter 0.3s ease;
    filter: brightness(0) invert(1); 
}

.redes-sociales a:hover img {
    transform: scale(1.2); 
    filter: brightness(1.2) invert(1);
}

.mapa-footer {
    flex: 1;
    margin: 0 20px;
    text-align: left;
}

.mapa-footer ul {
    list-style: none;
    padding: 0;
}

.mapa-footer ul li {
    margin: 10px 0;
}

.mapa-footer ul li a {
    color: #b0b0b0;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

.mapa-footer ul li a:hover {
    color: #4a90e2; 
}

.copyright {
    margin-top: 40px;
    font-size: 0.9rem;
    color: #b0b0b0;
    text-align: center;
    border-top: 1px solid #444;
    padding-top: 20px;
}
@media (max-width: 768px) {
    .contenido-footer {
        flex-direction: column;
        align-items: center;
    }

    .informacion-footer, .redes-sociales, .mapa-footer {
        text-align: center;
        margin-bottom: 20px;
    }

    .pie-pagina {
        padding: 30px 5%;
    }
}

@media (max-width: 768px) {
    .menu {
        flex-direction: column;
        align-items: center;
    }

    .menu li {
        margin: 10px 0;
    }

    
}

/* Sección Contacto */
.contacto-boton {
    display: block;
    margin: 50px auto;
    padding: 10px;
    font-size: 19px;
    text-align: center;
    width: auto;
    margin-left: 650px;
    margin-right: 650px;
    animation-delay: 0.6s;
}

.contacto-boton a {
    display: block;
    color: white;
    background-color: #7ec8f6;
    border-radius: 5px;
    text-decoration: none;
    padding: 15px 30px;
    font-size: 18px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.contacto-boton a:hover {
    background-color: #357ab8;
    transform: scale(1.1);
}

.opiniones {
    margin-top: 50px;
    text-align: center;
    animation-delay: 0.7s;
}

h2 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 40px;
}

.opiniones-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}

.opinion {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 22%;
    max-width: 350px;
    text-align: left;
    animation-delay: 0.8s;
}

.opinion h3 {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.opinion p {
    font-size: 1em;
    color: #555;
    margin-bottom: 10px;
}

.estrellas {
    font-size: 1.5em;
    color: #FFD700;
}


#boton-valoracion {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    display: block;
    margin: 20px auto;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
    animation-delay: 0.9s;
}

#boton-valoracion:hover {
    background-color: darkgreen;
    transform: scale(1.1);
}

#formulario-valoracion {
    display: block;
    margin: auto;
    padding: 50px;
    width: 350px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background: #f9f9f9;
    text-align: center;
    animation-delay: 1s;
}

#formulario-valoracion h3 {
    margin-top: 0;
    text-align: center;
}

input, textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    height: 60px;
    resize: none;
}

#enviar-valoracion {
    background-color: rgb(91, 190, 45);
    color: white;
    border: none;
    padding: 8px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}

.estrellas {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 5px;
}

.estrellas input {
    display: none;
}

.estrellas label {
    font-size: 1.8em;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.estrellas label:hover,
.estrellas input:checked ~ label {
    color: #FFD700;
    transform: scale(1.2);
}

#opiniones {
    margin-top: 20px;
}

.opinion {
    background-color: #f0f0f0;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.opinion h3 {
    font-size: 18px;
    margin: 0;
}

.opinion p {
    font-size: 16px;
    color: #555;
}

.opinion .estrellas span {
    font-size: 20px;
    color: #ffbc00;
}


html, body {
    overflow-x: hidden;
    margin: 0; /* Asegura que no haya márgenes no deseados */
}
